<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>property price check</title>
</head>
<p>
    <h2>Get a rough estimate of what your property is worth</h2>
    <B>Please keep in mind this app is not 100% accurate, this model only takes 'Overall Quality', 'Number of Bath', 'Garage Area', 'Lot Area','Year Built',and 'Number of Bedrooms', into consideration when giving an estimate, however a huge factor is the location of the property.</B></p>


    <a href="/form">click here</a>
    <p></p>
</body>
    <p> The purpose of this app is to quickly price a consumer's house with an interpretable confidence range. A proof-of-concept model that demonstrates we can achieve a low error metric despite incomplete or missing data.</p>
</html>